<h1>Test#index</h1>
<p>Find me in app/views/test/index.html.erb</p>
<p>MOJA STRONA TESTOWA</p>
<p>
    <%= @testowa %>
    <br><br>
    <% @imiona.each do |imie| %>
    <%= "witaj #{imie.capitalize} w kursie ROR!" %>
    <hr>
    <% end %>
</p>
<p>
    Parametr ID = <%= @id %>
</p>
<hr>
<%= params.inspect %>
<hr>
