<p>
    
    <%= link_to( 'link do strony witaj', {:action=>'witaj',:id=>2, :strona=>3}) %>
    
</p>
<p>
    
    <%= link_to( 'link do strony index', {:action=>'index',:id=>6, :strona=>9}) %>
    
</p>