<h1>Edycja Kategorii</h1>

<%= link_to("Powrót", {:action => 'index'})%>

<%= form_for(:kategoria, :url => {:action => 'aktualizuj', :id => @kategoria.id}) do |pole| %>

<%= render(:partial => "form", :locals => {:pole => pole})%>

<div>
<%= submit_tag("Aktualizuj") %>
</div>
<% end %>