<h1>Nowa Kategoria</h1>

<%= link_to("Powrót", {:action => 'index'})%>

<%= form_for(:kategoria, :url => {:action => 'utworz'}) do |pole| %>

<%= render(:partial => "form", :locals => {:pole => pole})%>

<div>
<%= submit_tag("Utwórz") %>
</div>
<% end %>