<h1>Usunięcie Kategorii</h1>

<%= link_to("Powrót", {:action => 'index'})%>

<%= form_for(:kategoria, :url => {:action => 'kasuj', :id => @kategoria.id}) do |pole| %>

<p>Czy na pewno usunąć kategorię?</p>
<p><%= @kategoria.nazwa %></p>

<div>
<%= submit_tag("Usuń") %>
</div>

<% end %>